<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>make reservation</title>
</head>
<body>
    <h1>予約する</h1>
    <form action="/facility/event/apply/save" method="post">
        {% csrf_token %}
            <p>施設名:{{facility.name}}</p>
            <p>イベント名:{{event.event_name}}</p>
            <p>イベント内容:{{event.event_detail}}</p>
            <input type = "hidden" name="facility_uid" value = "{{facility.uid}}" required><p>
            <input type = "hidden" name="event_id" value = "{{event.id}}" required><p></p>
            <p>参加開始日：{{event.begin_date}}</p>
            <p>参加終了日：{{event.end_date}}</p>
            <p><input type = "text" name="comment" placeholder = "コメントを記入"></p>
            <p>ユーザー名：{{user.guestuser.username}}</p>
        <button type="submit">予約を確定する</button>
    </form>
    <a href="/facility/{{facility.uid}}"">戻る</a>
</body>
</html>