{% load static %}

<header>
    <nav class="bg-rose-300 border-gray-200 px-2 sm:px-4 py-2.5 rounded">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <a href="/" class="flex items-center">
              <img src="{% static 'booking/images/logo.png' %}" class="h-6 mr-3 sm:h-9" alt="GuestHouseApp Logo" />
              <span class="self-center text-2xl text-white font-semibold whitespace-nowrap">Guest House App</span>
          </a>
          <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-rose-900 rounded-lg md:hidden" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-2 mt-4 border border-gray-100 rounded-lg bg-rose-300 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-rose-300">
              <li>
                <a href="#" class="block pl-3 pr-4 text-white text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-rose-900 md:p-0">About</a>
              </li>
              <li>
                <a href="{% url 'facility_index' %}" class="block pl-3 pr-4 text-white text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-rose-900 md:p-0">Search</a>
              </li>
              {% if request.user.is_authenticated %}
              <li>
                <a href="{% url 'guest_mypage' %}" class="block pl-3 pr-4 text-white text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-rose-900 md:p-0">MyPage</a>
              </li>
              <li>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button class="block pl-3 pr-4 text-white text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-rose-900 md:p-0">Logout</button>
                </form>
              </li>
              {% else %}
              <li>
                <a href="{% url 'login' %}" class="block pl-3 pr-4 text-white text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-rose-900 md:p-0">Login</a>
              </li>
              <li>
                <a href="{% url 'signup_guest' %}" class="block pl-3 pr-4 text-white text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-rose-900 md:p-0">Signup</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>
</header>