{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Event List</title>
</head>
<body>
    <h1>Event List</h1>
    {% for event in events %}
        <p>{{ event.event_name }}</p>
        <p>{{ event.event_detail }}</p>
        <p>{{ event.facility.name }}</p>
        <p>{{ event.begin_date }}</p>
        <p>{{ event.end_date}}</p>
        <p>{{ event.deadline}}</p>
        <p>paticipants : {{ event.current_participants}} / {{ event.max_participants}}</p>
        <p>---</p>
    {% endfor %}
</body>
</html>