{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" type="image/png" href="{% static 'booking/images/logo.png' %}"/>
        <title>Guest House App</title>
    </head>
    {% include "booking/nav_host.html" %}
    <body>
        <div class="mx-auto max-w-screen-x py-8">
            <div class="mx-auto max-w-lg text-center">
              <h1 class="text-2xl font-bold text-rose-900 sm:text-3xl">Event Register</h1>
            </div>
        
            <form action="{% url 'event_register' %}" method="post" class="mx-auto mt-8 mb-0 max-w-md space-y-4">
            {% csrf_token %}
        
                <!-- Event Name -->
                <div>
                    <label for="id_event_name">Event Name</label>
                    <div class="relative">
                        <input
                        class="w-full rounded-lg border-2 border-gray-200 p-4 pr-12 text-sm shadow-sm"
                        type="text" name="event_name" maxlength="100" required id="id_name"
                        placeholder="Enter event name"
                        />
                    </div>
                </div>

                <!-- Facility -->
                <label for="id_facility_name">Facility</label>
                {{ form.facility }}

                <!-- Event Detail -->
                <div>
                    <label for="id_event_detail">Event Detail</label>
                    <div class="relative">
                        <input
                        class="w-full rounded-lg border-2 border-gray-200 p-4 pr-12 text-sm shadow-sm"
                        type="text" name="event_detail" maxlength="1000" required id="id_event_detail"
                        placeholder="Enter address"
                        />
                    </div>
                </div>

                <!-- Date -->
                <div>
                    <label for="id_begin_date">Begin Date</label>
                    <div class="relative">
                        <input
                        class="w-full rounded-lg border-2 border-gray-200 p-4 pr-12 text-sm shadow-sm"
                        type="text" name="begin_date" required id="id_begin_date"
                        placeholder="Enter begin date"
                        />
                    </div>
                </div>
                
                <div>
                    <label for="id_end_date">End Date</label>
                    <div class="relative">
                        <input
                        class="w-full rounded-lg border-2 border-gray-200 p-4 pr-12 text-sm shadow-sm"
                        type="text" name="end_date" required id="id_end_date"
                        placeholder="Enter end date"
                        />
                    </div>
                </div>

                <div>
                    <label for="id_deadline">Deadline</label>
                    <div class="relative">
                        <input
                        class="w-full rounded-lg border-2 border-gray-200 p-4 pr-12 text-sm shadow-sm"
                        type="text" name="deadline" required id="id_deadline"
                        placeholder="Enter deadline"
                        />
                    </div>
                </div>

                <!-- Max Participants -->
                <div>
                    <label for="id_max_participants">Max Participants</label>
                    <div class="relative">
                        <input
                        class="w-full rounded-lg border-2 border-gray-200 p-4 pr-12 text-sm shadow-sm"
                        type="number" name="max_participants" required id="id_max_participants"
                        placeholder="Enter max participants"
                        />
                    </div>
                </div>

                <div class="flex justify-end">
                    <button
                      type="submit"
                      class="inline-block rounded-lg bg-rose-900 px-4 py-2 text-sm font-medium text-white"
                    >
                      Register
                    </button>
                </div>
            </form>
        
        </div>
    </body>
</html>